.bigContainer {
    width: calc(100%-100px);
}
#top {
    display: flex;
}
#top:hover {
    border: 10px solid red;
}
.prefixes, #stem, #altStem, #translation {
        font-size: 60px;
        font-family: waltz;
             margin-bottom: 5px;
    }

#altStem {
    display: none;
}
.prefixes {
        width: 250px;
        text-align: right;
        margin-right: 3px; 
    }

    #stem, #altStem {
        width: 600px;
        border-width:0px;
        border:none;
    }

.personButtons button, .num button, #singulars button, #duals button, #plurals button {
    width: 165px;
    height: auto;

    padding-left: 20px;
    padding-right: 20px;
}



.rootButtons button {
    width: auto;
}
.sing {
    background-color: pink;
}
.dual {
    background-color: rgb(237, 168, 216);
}
.plural {
    background-color: rgb(240, 139, 198);
}

/* #singulars, #duals, #plurals {
    display: none;
} */

.verbGenerator {
    width: 200px;
    background-color: lightyellow;
    
}

.verbGenerator:focus {
    background-color: orange;
}

.rootButtons {
    padding: 50px;
    margin: 25px;
}

button {
    margin: 25px;
}

.peopleBox {
    display: flex;
    background-color: lightgray;
    align-items: space-around;
}
.peopleBox button {
    font-size: 24px;
    width: auto;
    height: auto;
    background-color: white;

}
./* singular {
    display:flex;
    background-color: rgb(248, 199, 199);
    align-items: space-around;
}
.dual {
        display: flex;
        background-color: rgb(192, 151, 151);
}
.plural {
    display: flex;
    background-color:  rgb(133, 103, 103);
} */
